<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="contact-form">
    <form action="" method="post">
        <div class="input-box"><input type="text" placeholder="name" class="input-control" name="name"></div>
        <div class="input-box"><input type="text" placeholder="email" class="input-control" name="email"></div>
        <div class="input-box"><input type="text" placeholder="phone" class="input-control" name="phone"></div>
        <div class="input-box"><textarea name="message" placeholder="message " class="input-control" cols="30" rows="10"></textarea></div>
       <div class="btn-wrap">
        <button type="submit" class="btn">submit</button>
       </div>
        

    </form>
</div>
   






   
    
</body>
</html>